{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "amd": true,
    "es6": true
  },
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
